#editUser.modal.fade.small-modal
  .modal-header
    h3 User Information

  form
    .modal-body
      input.firstName.small-modal-box(type="text", value="#{user.firstName}", placeholder="First Name")
      input.lastName.small-modal-box(type="text", value="#{user.lastName}", placeholder="Last Name")
      input.email.small-modal-box(type="text", value="#{user.email}", placeholder="email")
      select.role.small-modal-box(name="role")
        if user.role == 'Owner' || user.role == 'Administrator'
          option(value="#{user.role}", selected="selected") #{user.role}
        else
          each role in user.allowedRoles
            if role == user.role
              option(value="#{role}", selected="selected") #{role}
            else
              option(value="#{role}") #{role}
      .bold Websites:
      .websites.small-modal-box.scrolling-checkboxes
        for site in user.allowedWebsites
          if user.websites.indexOf(site.id) == -1
            input.checkbox(type="checkbox", websiteId="#{site.id}")
          else
            input.checkbox(type="checkbox", checked="yes", websiteId="#{site.id}")
          &nbsp;
          |#{site.url}
          br

      .bold Specialties:
      .specialties.small-modal-box.scrolling-checkboxes
        for specialtyName in user.allowedSpecialties
          if user.specialties.indexOf(specialtyName) == -1
            input.checkbox(type="checkbox", name="#{specialtyName}", value="#{specialtyName}")
          else
            input.checkbox(type="checkbox", name="#{specialtyName}", value="#{specialtyName}", checked="yes")
          &nbsp;
          |#{specialtyName}
          br

      .clear

    .modal-footer
      button.saveButton.btn.btn-primary() Save
      button.cancelButton.btn Cancel
