if role == 'Owner'
  a(href="JavaScript:void(0);", onclick="window.open('/help.html', 'ChatPro Help', 'width=450,height=500,menubar=no,location=no,resizable=yes,scrollbars=yes,status=yes,top=180,left=1000'); return false;")
    img(src="/img/question_icon.png")
