#dashboard.well
  .page-header: h1 Dashboard

  p.description Currently active chats.

  table.table.table-striped
    thead: tr
      th Visitor
      th Operators
      th Status
      th Duration
      th Website
      th Department
      th Actions

    tbody
      each chat in chats
        tr
          td= chat.visitor.username
          td= chat.operators
          td: span(class="badge badge-#{chat.statusLevel}") #{chat.status}
          td.counter(started='#{chat.creationDate}')
          td= chat.visitor.website
          td= chat.visitor.department
          th
            .btn-group
              if chat.accept
                btn.btn.btn-success.acceptChat(chatId="#{chat.id}") Accept
              else
                btn.btn.btn-dark.joinChat(chatId="#{chat.id}") Join

              btn.btn.watchChat(chatId="#{chat.id}", watch="true") Watch
