#home.well
  .page-header: h1 Dashboard

  p.description Currently active chats.

  table.table.table-striped
    thead: tr
      //th Dump
      th Visitor
      th Operators
      //th Duration
      th Creation Date
      //th Website
      //th Department
      th Actions

    tbody
      each chat in chats
        tr
          //td= chat
          td= chat.visitor.username
          td= chat.operators
          //td.counter(started='#{chat.creationDate}')
          td= chat.creationDate
          //td= chat.website
          //td= chat.department
          td
            a(href="#/joinChat/#{chat.id}") Join
            &nbsp;|&nbsp;
            a(href="#/joinChat/#{chat.id}?watch=true") Watch
