#home.well
  .page-header: h1 Dashboard

  p.description Currently active chats.

  table.table.table-striped
    thead: tr
      th Visitor
      th Visitor Present
      th Operators
      th Duration
      //th Creation Date
      th Website
      th Department
      th Actions

    tbody
      each chat in chats
        tr
          td= chat.visitor.username
          td= chat.visitorPresent
          td= chat.operators
          td.counter(started='#{chat.creationDate}')
          //td= chat.creationDate
          td= chat.visitor.website
          td= chat.visitor.department
          td
            a(href="#/joinChat/#{chat.id}") Join
            &nbsp;|&nbsp;
            a(href="#/joinChat/#{chat.id}?watch=true") Watch
