#editUser.modal.fade.small-modal
  .modal-header
    h3 User Information

  form
    .modal-body
      input.firstName.small-modal-box(type="text", value="#{user.firstName}", placeholder="First Name")
      .clear
      input.lastName.small-modal-box(type="text", value="#{user.lastName}", placeholder="Last Name")
      .clear
      input.email.small-modal-box(type="text", value="#{user.email}", placeholder="email")
      .clear
      select.role.small-modal-box(name="role")
        each role in user.allowedRoles
          if role == user.role
            option(value="#{role}", selected="selected") #{role}
          else
            option(value="#{role}") #{role}
      .clear
      // .websites.small-modal-box
      for siteName in user.validWebsites
        input(type="checkbox", name="#{siteName}", value="#{siteName") #{siteName}

      .clear
      input.departments.small-modal-box(type="text", value="#{user.departments}", placeholder="Departments")
      .clear

    .modal-footer
      button.saveButton.btn.btn-primary() Save
      button.cancelButton.btn Cancel
