.well

  ul#chatTabs.nav.nav-tabs

    for chat in chats
      li: a(href="##{chat.renderedId}", data-toggle="tab") #{chat.visitor.username}

  .tab-content
    for chat in chats
      .tab-pane.row.operatorChat(id="#{chat.renderedId}")
        .chatWindow.span8.row(chatId="#{chat.id}")
          .chat-box.well.chat-display-box.span12
            for msg in chat.history
              p #{msg.username}: #{msg.message}

          form.message-form.form-inline.offset1
            input(type="text", value="").message

            button.btn.btn-primary(type="submit").submit-button Send

        include chatControls