h2 Chat History

p
  strong Time:
  | #{creationDate}
p
  strong Customer:
  | #{name}
p
  strong Website:
  | #{websiteUrl}

h3 Chats

.well.printPage
  for message in history
    p
      strong #{message.username}:
      | #{message.message}
