:markdown

  ## Welcome to #{serviceName}!

  Thank you for registering with #{serviceName}!  You can log in at any time with your email and password by following this link:

  > [#{serviceName}](#{url})

  Chatting is free for your first user.  Start by adding a website and generating a link for chats.

  ### In order to add more users, please fill in your billing details on the [Account](#{url}#/account) page.

  Warm regards,  
  ChatPro.com Billing
