#editWebsite.modal.fade.small-modal
  .modal-header
    h3 Website Information

  form
    .modal-body
      input.contactEmail.small-modal-box(type="text", value="#{website.contactEmail}", placeholder="Contact Email")
      input.url.small-modal-box(type="text", value="#{website.url}", placeholder="URL")

      .bold Specialties:
      .specialties.small-modal-box.scrolling-checkboxes
        for allowedSpec in website.allowedSpecialties
          if website.specialties.indexOf(allowedSpec) > -1
            input.checkbox(type="checkbox", name="#{allowedSpec}", value="#{allowedSpec}", checked="yes")
          else
            input.checkbox(type="checkbox", name="#{allowedSpec}", value="#{allowedSpec}")
          &nbsp;
          |#{allowedSpec}
          br

      input.acpEndpoint.small-modal-box(type="text", value="#{website.acpEndpoint}", placeholder="ACP Endpoint (optional)")

      input.acpApiKey.small-modal-box(type="text", value="#{website.acpApiKey}", placeholder="ACP API Key (optional)")

  .modal-body
    .bold Logo:
    form
      input.logoUpload(type="file", name="logoUpload")

    .bold Online Image:
    form
      input.onlineUpload(type="file", name="onlineUpload")

    .bold Offline:
    form
      input.offlineUpload(type="file", name="offlineUpload")

  .modal-footer
    button.saveButton.btn.btn-primary() Save
    button.cancelButton.btn Cancel
