#editWebsite.modal.fade.small-modal
  form
    .modal-header
      h3 Website Information

    .modal-body
      input.contactEmail.small-modal-box(type="text", name="contactEmail", value="#{website.contactEmail}", placeholder="Contact Email")
      input.url.small-modal-box(type="text", name="url", value="#{website.url}", placeholder="URL")

      .bold Specialties:
      .specialties.small-modal-box.scrolling-checkboxes
        each allowedSpec, index in website.allowedSpecialties
          if website.specialties.indexOf(allowedSpec) > -1
            input.checkbox(type="checkbox", name="specialties-#{index}", value="#{allowedSpec}", checked="yes")
          else
            input.checkbox(type="checkbox", name="specialties-#{index}", value="#{allowedSpec}")
          &nbsp;
          |#{allowedSpec}
          br

      input.acpEndpoint.small-modal-box(type="text", name="acpEndpoint", value="#{website.acpEndpoint}", placeholder="ACP Endpoint (optional)")

      input.acpApiKey.small-modal-box(type="text", name="acpApiKey", value="#{website.acpApiKey}", placeholder="ACP API Key (optional)")

      .bold Logo:
      input.logoUpload(type="file", name="logoUpload")

      .bold Online Image:
      input.onlineUpload(type="file", name="onlineUpload")

      .bold Offline:
      input.offlineUpload(type="file", name="offlineUpload")

    .modal-footer
      button.saveButton.btn.btn-primary() Save
      button.cancelButton.btn Cancel
