#editUser.modal.fade.small-modal
  .modal-header
    h3 User Information

  form
    .modal-body
      input.firstName.small-modal-box(type="text", value="#{user.firstName}", placeholder="First Name")
      .clear
      input.lastName.small-modal-box(type="text", value="#{user.lastName}", placeholder="Last Name")
      .clear
      input.email.small-modal-box(type="text", value="#{user.email}", placeholder="email")
      .clear
      select.role.small-modal-box(name="role")
        each role in user.allowedRoles
          if role == user.role
            option(value="#{role}", selected="selected") #{role}
          else
            option(value="#{role}") #{role}
      .clear
      |Websites:
      .websites.small-modal-box.scrolling-checkboxes
        for site in user.allowedWebsites
          if user.websites.indexOf(site.id) == -1
            input.checkbox(type="checkbox", websiteId="#{site.id}")
          else
            input.checkbox(type="checkbox", checked="yes", websiteId="#{site.id}")
          &nbsp;
          |#{site.url}
          br

      .clear
      |Specialties:
      .specialties.small-modal-box.scrolling-checkboxes
        for specialtyName in user.allowedSpecialties
          if user.specialties.indexOf(specialtyName) == -1
            input.checkbox(type="checkbox", name="#{specialtyName}", value="#{specialtyName}")
          else
            input.checkbox(type="checkbox", name="#{specialtyName}", value="#{specialtyName}", checked="yes")
          &nbsp;
          |#{specialtyName}
          br

      .clear

    .modal-footer
      button.saveButton.btn.btn-primary() Save
      button.cancelButton.btn Cancel
