#editWebsite.modal.fade.small-modal
  .modal-header
    h3 Website Information

  form
    .modal-body
      input.name.small-modal-box(type="text", value="#{website.name}", placeholder="Name")
      .clear
      input.url.small-modal-box(type="text", value="#{website.url}", placeholder="URL")
      .clear
      input.subdomain.small-modal-box(type="text", value="#{website.subdomain}", placeholder="mysite")
      .clear

      |Specialties:
      .specialties.small-modal-box.scrolling-checkboxes
        for specialtyName in website.allowedSpecialties
          if website.specialties.indexOf(specialtyName) == -1
            input.checkbox(type="checkbox", name="#{specialtyName}", value="#{specialtyName}")
          else
            input.checkbox(type="checkbox", name="#{specialtyName}", value="#{specialtyName}", checked="yes")
          &nbsp;
          |#{specialtyName}
          br
      .clear

      input.acpEndpoint.small-modal-box(type="text", value="#{website.acpEndpoint}", placeholder="ACP Endpoint (optional)")
      .clear

      input.acpApiKey.small-modal-box(type="text", value="#{website.acpApiKey}", placeholder="ACP API Key (optional)")

    .modal-footer
      button.saveButton.btn.btn-primary() Save
      button.cancelButton.btn Cancel

  |Logo:
  form
    input.logoUpload(type="file", name="logoUpload")

  |Online Image:
  form
    input.onlineUpload(type="file", name="onlineUpload")

  |Offline:
  form
    input.offlineUpload(type="file", name="offlineUpload")


