a(href="JavaScript:void(0)", onclick="window.open('https://livechathost.com/#/newChat?websiteUrl=#{website.url}', 'Live Support', 'width=620,height=660, menubar=no,location=no,resizable=yes,scrollbars=yes,status=yes'); return false;", rel="nofollow")

  img(border="0", title="Click for Live Support", alt="Click for Live Support", src="https://livechathost.com/chatLinkImage/#{website.accountId}")
