
.well

  if chats.length > 0
    ul#chatTabs.nav.nav-tabs

      for chat in chats
        li
          a(href="##{chat.renderedId}", chatid="#{chat.renderedId}", data-toggle="tab")
            span.chatTab #{chat.visitor.username}
            span.notifyUnread(chatid="#{chat.renderedId}")

    .tab-content
      for chat in chats
        .tab-pane.row.operatorChat(id="#{chat.renderedId}")
          .chatWindow.span8.row(chatId="#{chat.id}")
            .chat-box.well.chat-display-box.span12
              for msg in chat.history
                p
                  span.bold #{unescape(msg.username)}: 
                  span.displayed-message
                    each line in msg.message
                      span #{line}
                      br

            form.message-form.form-inline-
              .span12
                .span10
                  textarea(value="").message
                .span2
                  button.btn.btn-primary(type="submit").submit-button Send

          div.well.chatControls.span4(chatId="#{chat.id}")

            .visitor-info
              .websiteLogo

              strong Visitor:
              |  #{chat.visitor.username}
              br
              strong Website:
              |  #{chat.websiteUrl}

              .visitorData
                strong Visitor Data:
                if chat.visitor.referrerData
                  ul(id="visitorDataTree#{chat.renderedId}", class="treeview")!= chat.visitor.referrerData
                else
                  .clear
                  | No data availible

              .acp-data
                strong ACP Data:
                if chat.visitor.acpData
                  ul(id="acpTree#{chat.renderedId}", class="treeview")!= chat.visitor.acpData
                else
                  .clear
                  | No data availible

            .actions

              table
                tr
                  td
                    button.btn.btn-primary.printButton Print
                  td
                    button.btn.btn-primary.emailButton Email
                  td
                    button.btn.btn-danger.kickButton Kick
                tr
                  td
                    button.btn.btn-primary.inviteButton Invite
                  td
                    button.btn.btn-primary.transferButton Transfer
                  td
                    button.btn.btn-warning.leaveButton Leave

  else
    p You have not joined any chats.  Watch the dashboard for new chats!

#selectModal
