form.form-horizontal(id="#{options.name}-form")
  for field in fields

    .control-group
      .control-label #{field.label}
      .controls
        case field.inputType

          when 'text'
            input(type="text", placeholder="#{field.default}", name="#{field.name}")

          when 'password'
            input(type="password", placeholder="#{field.default}", name="#{field.name}")

          when 'selection'
            select.small-modal-box(name="#{field.name}")
              each selection in field.selections
                if selection == field.default
                  option(value="#{selection}", selected="selected") #{selection}
                else
                  option(value="#{selection}") #{selection}

          when 'paragraph'
            textarea(name='#{field.name}')

          default
            - console.log('Unrecognized field type:', field.inputType)

  .controls
    button.btn.btn-primary(type="submit") #{options.submitText}
