form.form-horizontal(id="#{options.name}")
  for field in fields

    .control-group(name="#{field.name}")
      .control-label #{field.label}
      .controls
        case field.inputType

          when 'text'
            input(type="text", placeholder="#{field.default}", name="#{field.name}")

          when 'password'
            input(type="password", placeholder="#{field.default}", name="#{field.name}")

          when 'selection'
            select.small-modal-box(name="#{field.name}")
              each selection in field.selections
                if selection == field.default
                  option(value="#{selection}", selected="selected") #{selection}
                else
                  option(value="#{selection}") #{selection}

          when 'paragraph'
            textarea(name='#{field.name}')

          when 'static'
            p #{field.name}

          default
            - console.log('Unrecognized field type:', field.inputType)

        span.help-inline

  .controls
    button.btn.btn-primary(type="submit") #{options.submitText}
