tr.websiteRow(websiteId="#{website.id}")
  td= website.name
  td= website.url
  td= website.specialties
  td= website.acpEndpoint

  th
    a.editWebsite(websiteId="#{website.id}") Edit
    &nbsp;|&nbsp;
    a.deleteWebsite(websiteId="#{website.id}") Delete
